version: '3.8'
services:
  ftp-server:
    image: delfer/alpine-ftp-server
    environment:
      - USERS=user|password
    ports:
      - "2121:21"
      - "21000-21010:21000-21010"
    restart: always